server {
    listen       80;
    server_name  localhost;

    location / {
        proxy_set_header api-key {{API_KEY}};
        resolver 8.8.8.8;
        set $upstream_endpoint https://sandbox.weavr.io;
        proxy_pass $upstream_endpoint$request_uri;
    }

    location /health {
        return 200;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}