.btn {
  &.btn-border-primary {
    color: $primary;
    border: none;
    border-bottom: 2px solid $primary;
    border-radius: 0;
    padding: 0;
    font-weight: 600;
  }

  &.link {
    color: $primary;
    padding: 0;
    border-radius: 0;
    font-weight: 400;
    border-bottom: 3px solid $secondary;
    transition: 0.3s border;

    &:hover {
      text-decoration: none;
      border-bottom-color: $primary;
      outline: none;
    }
  }

  &.nav-item,
  .nav-item:active,
  .nav-item:focus {
    padding: 0;
    background-color: transparent !important;
    border: 0 !important;
    font-weight: bold !important;
    color: $primary !important;
    box-shadow: none !important;
  }
}
