.cards-card {
  border-radius: 20px;

  .card-body {
    padding: 0;

    a {
      padding: 27px 33px;
      display: block;
      text-decoration: none;
      color: $body-color;
    }
  }

  .card {
    &-name {
      margin: 30px 0;
      font-size: 1.5rem;
      font-weight: 300;
    }

    &-balance {
      font-size: 1.3rem;
    }

    &-cvv,
    &-expiry {
      &-label {
        font-size: 0.7rem;
        color: $body-color;
      }

      &-value {
        font-size: 0.9rem;
      }
    }

  }

  &.card-frozen {
    a {
      color: $input-placeholder-color;
    }
  }
}


#managedCard {
  .card-options {
    opacity: 0;
    transition: 0.3s opacity;

  }

  &:hover {
    .card-options {
      opacity: 1;
    }
  }
}

.card {
  &.card-sm-border-radius {
    border-radius: 1rem;

    .card-header:first-child {
      border-radius: 1rem 1rem 0 0;
    }
  }
}
