.cards-card {
  border-radius: 20px;

  .card-body {
    padding: 0;

    a {
      padding: 27px 33px;
      display: block;
      text-decoration: none;
      color: $primary;
      font-weight: 300;
    }
  }

  .card {

    &-name {
      line-height: 1.3rem;
      font-weight: 300;
      font-size: 1.3rem;
    }

    &-name-on-card {
      line-height: 1rem;
      font-weight: 300;
      font-size: 1rem;
    }

    &-number {
      line-height: 1rem;
      font-weight: 300;
    }

    &-balance {
      font-size: 1.3rem;
      line-height: 1.3rem;
    }

    &-cvv,
    &-expiry {
      &-label {
        font-size: 0.7rem;
        line-height: 0.7rem;
        color: #6D7490;
      }

      &-value {
        margin-top: 4px;
        font-size: 0.9rem;
        line-height: 0.9rem;
      }
    }

  }

  &.card-frozen {
    a {
      color: $input-placeholder-color;
    }
  }
}


#managedCard {
  .card-options-button {
    background: $white;
    border-radius: 100px;
    padding: 9px 11px;
    border: 0;
    box-shadow: 0 3px 6px #232A472B;
    position: absolute;
    right: 15px;
    bottom: -21px;
    z-index: 9;
    color: $primary;
  }

}

.onvirtual-card {
  background: url("/img/card-background.svg") no-repeat no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.card {
  &.card-sm-border-radius {
    border-radius: 1rem;

    .card-header:first-child {
      border-radius: 1rem 1rem 0 0;
    }
  }
}
