.card {
    &.card-sm-border-radius {
        border-radius: 1rem;

        .card-header:first-child {
            border-radius: 1rem 1rem 0 0;
        }

        .card-footer:last-child {
            border-radius: 0 0 1rem 1rem;
        }
    }
}

.cards-card {
    border-radius: 20px;

    .card-body {
        padding: 0;

        a {
            padding: 27px 33px;
            display: block;
            text-decoration: none;
            color: $primary;
            font-weight: 300;
        }
    }

    .card {
        &-name {
            font-weight: 300;
            font-size: 1.3rem;
        }

        &-name-on-card {
            font-weight: 300;
            font-size: 1rem;
        }

        &-number {
            font-weight: 300;
        }

        &-balance {
            font-size: 1.3rem;
        }

        &-cvv,
        &-expiry {
            &-label {
                font-size: 0.7rem;
                color: $grey;
            }

            &-value {
                margin-top: 4px;
                font-size: 0.9rem;
            }
        }
    }

    &.card-frozen {
        a {
            color: $input-placeholder-color;
        }
    }

    &.card-destroyed {
        opacity: 0.4;
    }
}

#managed-card {
    .card-options-button {
        font-size: 22px;
        background: $white;
        border-radius: 100px;
        padding: 5px 10px;
        border: 0;
        box-shadow: 0 0 6px $shadow;
        position: absolute;
        right: 15px;
        bottom: -21px;
        z-index: 10;
        color: $primary;

        &:hover {
            box-shadow: 0 3px 6px $shadow;
        }
    }
}

.onvirtual-card {
    background: url('/img/card-background.svg') no-repeat no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.statement-loader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .container {
        .spinner {
            margin: 5px;
            height: 20px;
            width: 20px;
        }
    }
}

.skeleton-loader {
    height: 1.2rem;
    background-color: #e9ecef;
    background-image: linear-gradient(90deg, #e9ecef, #f8f9fa, #e9ecef);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 0.25rem;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}
