#cookie-alert {
    background: $primary;
    color: $body-bg-colored;
    border-radius: 0;
    display: inline-flex;
    position: fixed;
    bottom: 16px;
    right: 0;
    font-size: small;
    border: none;
    margin: 16px;

    a {
        color: $body-bg-colored;
    }
}
