input:-webkit-autofill {
    animation-delay: 1ms; /* Safari support - any positive time runs instantly */
    animation-name: autofill;
    animation-fill-mode: both;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #fff inset !important;
}

/* remove background when autofill input css */
@keyframes autofill {
    0%,
    100% {
        color: #666;
        background: transparent;
    }
}
