$primary: #6C1C5C;
$secondary: #3CF7CA;
$text-muted: #B6B9C7;
$card: #F0EDDE;
$body-color: #232A47;
$link-color: $body-color;
$grey: #6D7490;

$success: #3CF7CA;

$danger: #F50E4C;

$card-disabled: #E9EDF6;

$shadow-color: #5768FF4D;

$body-bg: #FFFFFF;
$body-bg-colored: #F0EDDE;

$theme-colors: ("card": $card, "grey": $grey, "card-disabled": $card-disabled, 'bg-colored': $body-bg-colored);


$btn-padding-y-sm: .5rem;
$btn-padding-x-sm: 1rem;

$btn-padding-y: 0.7rem;
$btn-padding-x: 1.9rem;

$btn-padding-y-lg: 1rem !default;
$btn-padding-x-lg: 1.9rem !default;


$btn-border-radius: 100px;
$btn-font-weight: 300;

$font-family-sans-serif: 'Be Vietnam',
sans-serif;


$btn-box-shadow: 0px 7px 14px $shadow-color;

$enable-validation-icons: false;

$input-placeholder-color: #B6B9C7;
$input-focus-box-shadow: none;
$input-border-color: #6D7490;
$input-border-radius: 0;
$input-border-width: 1px;
$input-focus-width: 0;
$form-feedback-valid-color: $input-border-color;

$custom-select-focus-box-shadow: none;
$custom-select-border-color: $input-border-color;
$custom-select-border-radius: 0;
$custom-select-border-width: 1px;


$box-shadow-sm: 0 .125rem .25rem $shadow-color;
$box-shadow: 0 .5rem 1rem $shadow-color;
$box-shadow-lg: 0 1rem 3rem $shadow-color;


$spacer: 1rem;

$spacers: (
        6: ($spacer * 6),
        7: ($spacer * 12),
        8: ($spacer * 18),
        'card': 4rem
);

$card-border-width: 0;
$card-border-radius: 2rem;

