// Custom Bootstrap variable overrides go first
@import 'variables';

// Then include the following
@import 'bootstrap/scss/bootstrap';
@import 'defaultBrowserBehaviour';
@import 'forms';
@import 'nav';
@import 'buttons';
@import 'account';
@import 'card';
@import 'shadow';
@import 'cookie';
@import 'border';
@import 'helpers';

@media (width >= 1200px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px !important;
    }
}

.transparent-modal {
    background: transparent !important;
    border: none !important;
}

.col-form-label {
    text-transform: uppercase;
}

.btn {
    &.btn-primary {
        &:hover {
            box-shadow: $btn-box-shadow;
        }
    }
}

#loader {
    background-color: rgb(255 255 255 / 90%);
    inset: 0;
    position: fixed;
    z-index: 999;

    .loader-spinner {
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        position: fixed;
        text-align: center;
        top: 50%;
    }
}

.error-alert {
    background-color: $red;
    border-radius: 0.6em;
    min-height: 50px;
    position: relative;
    width: 100%;

    p {
        color: $body-bg;
        margin: 0;
        padding: 14px 54px 14px 20px;
        vertical-align: middle;
    }

    button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        height: 50px;
        margin-top: -25px;
        outline: 0;
        position: absolute;
        right: 0;
        top: 50%;
        vertical-align: middle;
        width: 50px;
        z-index: 1030;

        img {
            left: 17px;
            position: absolute;
            top: 17px;
        }

        &:focus {
            outline: 0;
        }
    }
}

a {
    &.link {
        border-bottom: 3px solid $secondary;
        color: $primary;
        text-decoration: none;
        transition: 0.3s border;

        &:hover {
            border-color: $primary;
            text-decoration: none;
        }
    }
}

.text-decoration {
    &-underline {
        text-decoration: underline;
    }
}

.line-height {
    &-md {
        line-height: 2rem;
    }

    &-lg {
        line-height: 2.8rem;
    }
}

.transaction-type-icon {
    background: $grey-light;
    border-radius: 10px;
    color: $grey;
    font-size: 30px;
    font-weight: 100;
    line-height: 0;
    padding: 16px 0;
    text-align: center;
}

.smaller {
    font-size: 0.8 * $small-font-size;
}

// Transition Style
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
    transition: all 0.2s;
}

.dropdown-item {
    &.active,
    &:active a {
        color: white;
    }
}
